{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <img src="{% static 'images/image.png' %}" width="100%" height="100" />
    <div class="container container-background">
      <h4>Lista de Trabajadores</h4>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Salario</th>
          </tr>
        </thead>

        <tbody>
          {% for trabajador in trabajadores %}
          <tr>
            <td>{{ trabajador.nombre }}</td>
            <td>{{ trabajador.apellido }}</td>
            <td>${{ trabajador.salario }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="" async defer></script>
  </body>
</html>
