body {
  background-color: purple;
}

.container-background {
  background-color: white;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

/* DIV TITULO 1 */
.div_titulo1 {
  color: red;
  font-weight: normal;
  font-size: 3em;
  font-family: Courier New;
  text-transform: uppercase;
  text-align: center;
}
