<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>INDEX</h1>
<a href="{% url 'radiobutton' %}">Convertir Temperatura Celsius-Farenheit (radiobutton)</a><br>
<a href="{% url 'combobox' %}">Convertir Temperatura Celsius-Farenheit (combobox)</a><br>
<a href="{% url 'checkbox' %}">Seleccione sus lenguajes favoritos(checkbox)</a><br>
<a href="{% url 'date' %}">Seleccionar su fecha de nacimiento para obtener su edad</a><br>

    
</body>
</html>