{% extends 'index.html' %}

{% block title %}Ejemplo 06{% endblock %}

{% block content %} 
<h2>[06] Mostrar todas los alumnos de la base de datos mysql (sql bruto) Previa verificación de la conexión</h2>
    <h1>{{ titulo }}</h1>
    {% if alumnos %}
    <table class="consultas-table">
        <thead>
            <tr>
                <th>ID Alumno</th>
                <th>Nombre</th>
                <th>Curso</th>
                <th>Fecha Matrícula</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id_alumno }}</td>
                <td>{{ alumno.nombre_alumno }}</td>
                <td>{{ alumno.curso }}</td>
                <td>{{ alumno.fecha_matricula|date:"d/m/Y" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay alumnos registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="no-consultas">No hay alumno registrados.</p>
    {% endif %}
{% endblock %}